html {
    height: 100%;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    min-height: 100%;
    color: rgba(0, 0, 0, 0.65);
    // background-color: rgba(0, 0, 0, .08);
}

* {
    outline: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

label {
    color: rgba(0, 0, 0, .54);
}

input,
textarea {
    font-size: 1rem;
    // margin: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;


    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(112, 112, 112, 0.4);
        opacity: 1;
        font-size: .9rem;
        /* Firefox */
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgba(112, 112, 112, 0.4);
        font-size: .9rem;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgba(112, 112, 112, 0.4);
        font-size: .9rem;
    }
}