doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(name="title", content="Linger")
        meta(name="description", content="travel pin diary")
        meta(name="keywords", content="linger, travel, trip")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="format-detaction", content="telephone=no, address=no, email=no")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="theme-color" content="#ffffff")

        title Linger
        link(rel="manifest", href="/manifest.json")
        link(rel="stylesheet", href="/css/main.css")
        script(src="https://polyfill.io/v3/polyfill.min.js?flags=gated" async defer)
        script(src="/js/app.js" defer)
        

    body

        //- include layout/intro

        //- include layout/header

        main
            block main

        //- include layout/footer

        //- script.
            //- var map;
            //- function initMap() {
            //-     map = new google.maps.Map(document.getElementById('map'), {
            //-         center: {lat: 36.3310438, lng: 127.33910279999998},
            //-         zoom: 8
            //-     });
            //- }

        script(src="/js/map/map.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD4AUTIjNt7qojktQzt9DyFc1TRS_4lWA&callback=initMap" async defer)
        

        //- script(src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eb39959bf704c106a6091ce54039d260&libraries=services,clusterer")
        
        