article.bg
    .video
        //- video(src="/assets/video/meeting.mp4" loof autoplay muted playsinline="true")
        img(src="https://i.imgur.com/7T9364v.gif?noredirect", alt="")
    //- .cover
article.intro
    .type-one Welcome to Modern Publisher

    a(href="#about").bottom-button
        div
        div
        